h1 {color:orange;font-family:Century Gothic;
}
p{color:#8F1E06;font-family:Century Gothic
}
h2{color:orange;font-family:Century Gothic;
}
p{color:#8F1E06
}
ul {color:red;
font-family:Century Gothic;
}
body{background-color:#88C8FE
}
li{font-family:Century Gothic;
 font-weight:bold;
}

div{text-align:center;}

